*{margin:0;padding:0;box-sizing:border-box;}
*::before,*::after{box-sizing:border-box;}
@keyframes circle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: transparent url(http://p3.music.126.net/FnXcarH5LTctB7DdHW3Tyw==/17831879579569314.jpg) no-repeat center;
    background-size: cover;
}
.disc-container{
    position:relative;
}
.disc-container .needle{
    position: absolute;
    left:45vw;
    width:24vw;
}
.disc-container .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:18vw;
}
.disc-container .disc .icon-wrapper .icon {
    fill: white;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
 }
.disc-container .disc .icon-wrapper{
    position: absolute;
    z-index: 1;
}
.disc-container .disc.playing .icon-wrapper .icon-play{
    display: none;
}
.disc-container .disc.playing .icon-wrapper .icon-pause{
    display: block;
}
.disc-container .disc .icon-wrapper .icon-play{
    display: block;
}
.disc-container .disc .icon-wrapper .icon-pause{
    display: none;
}
.disc-container .ring{
    width:72vw;
}
.disc-container .light{
    width:72vw;
    position: absolute;
    animation: circle 24s infinite linear;
}
.disc-container .cover{
    width:45vw;
    position: absolute;
    border-radius: 50%;
    animation: circle 24s infinite linear;
}
.song-description .lyric{
    height:96px;
    min-width:50vw;
    overflow:hidden;
    font-size:18px;
    line-height: 32px;
}
.song-description{
    flex-grow: 1;
    text-align: center ;
}
.song-description >h1{
    font-size:40px;
}
.page > .links{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #D43B30;

}
.page > .links >a{
    width: 38vw;
    text-align: center;
    border: 1px solid #D43B30;
    border-radius: 4px;
    margin: 16px;
    padding: 1vw;
    text-decoration: none;
    color: inherit;
    background: transparent;
    font-size: 18px;
    letter-spacing: 4px;
    text-indent: 4px;
}
.page > .links >a.main{
    background: #D43B30;
    color: white;
}